@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import './setting.scss';
@import "~bootstrap/scss/bootstrap";

$board-bg-color: #0079bf;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans;
  font-size: 14px;
  line-height: 1.3rem;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}

button:focus {outline:0!important;box-shadow: none!important;}

.trello {
  height: 100vh;
  overflow-y: hidden;
  line-height: 1.3rem;
  background-color: $board-bg-color;
  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
  .trello-container{
    margin: 0 15px;
    padding: 0px;
  }
}

